/* ═════════════════════════════════════════════════════════════════════════════
 * 菜单 (QMenuBar, QMenu)
 * ═════════════════════════════════════════════════════════════════════════════ */

/* 菜单栏 */
QMenuBar {
    background-color: {window};
    border-bottom: 1px solid {borderLight};
    padding: 2px;
}

QMenuBar::item {
    background: transparent;
    padding: 5px 10px;
    color: {windowText};
}

QMenuBar::item:selected {
    background-color: {controlFillHover};
}

QMenuBar::item:pressed {
    background-color: {controlFillPressed};
}

QMenuBar::item:disabled {
    color: {textDisabled};
}

/* 菜单 */
QMenu {
    background-color: {window};
    border: 1px solid {borderLight};
    border-radius: {radius};
    padding: 3px;
    margin: 0px;
}

QMenu::item {
    padding: 3px 18px;
    padding-left: 26px;
    color: {windowText};
    border-radius: 3px;
    min-width: 100px;
}

QMenu::item:selected {
    background-color: {controlFillHover};
    color: {windowText};
}

QMenu::item:disabled {
    color: {textDisabled};
}

QMenu::separator {
    height: 1px;
    background-color: {borderLight};
    margin: 4px 12px;
}

QMenu::icon {
    margin-left: 8px;
    width: 14px;
    height: 14px;
}

QMenu::indicator {
    width: 14px;
    height: 14px;
    margin-left: 6px;
    border-radius: 2px;
    border: 1px solid {border};
}

QMenu::indicator:checked {
    background-color: {accent};
    border-color: {accent};
    image: none;
}

QMenu::indicator:non-exclusive:checked {
    background-color: {accent};
    border-color: {accent};
    image: none;
    border-radius: 7px;
}

QMenu::right-arrow {
    image: none;
    border-left: 4px solid {buttonText};
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
