/* ═════════════════════════════════════════════════════════════════════════════
 * 框架 (QFrame, QScrollArea)
 * ═════════════════════════════════════════════════════════════════════════════ */

QFrame, QStackedWidget, QScrollArea, QDecorationBackground {
    background-color: {window};
}

QFrame[frameShape="4"], QFrame[frameShape="5"] {
    border: 1px solid {borderLight};
    border-radius: {radius};
}

/* 滚动区域 */
QScrollArea {
    border: none;
    background-color: {window};
}

QScrollArea > QWidget > QWidget {
    background-color: {window};
}
