/* ═════════════════════════════════════════════════════════════════════════════
 * 工具提示 (QToolTip)
 * ═════════════════════════════════════════════════════════════════════════════ */

QToolTip, QTipLabel {
    background-color: {toolTipBase};
    border: 1px solid {border};
    border-radius: {radius};
    padding: 4px 8px;
    color: {toolTipText};
}
